*{
    font-family: "Comic Sans MS", serif;
}

.contacts{
    background-image: url("background2.png");
    display: inline-block;
    color: white;
    margin-left: 21%;
    padding-left: 30%;
    padding-right: 19.3%;
    padding-top: -0%;

}

.contacts h2{
    font-weight: 400;
}

.contacts_list{
    display: inline-block;
}

.infoAboutMeAndExtraInfo{
    margin-top: 3%;
    display: inline-block;
    margin-left: 21%;
}

.infoAboutMeAndExtraInfo h2{
    font-weight: 400;
    margin-left: 60%;
}

.infoAboutMeAndExtraInfo h3{
    font-weight: 400;
    margin-left: 77%;
}

.infoAboutMeAndExtraInfo_listAboutMe{
    display: inline-block;
    border-style: solid;
    padding-left: 20%;
    margin-left: 30%;

}

.infoAboutMeAndExtraInfo_listExtraInfo{
    display: inline-block;
    background-image: url("background1.png");
}

.myPhoto{
    margin-top: 1%;
    position: absolute;
    float: left;
    margin-left: 25%;
}

.siteHeader{
    display: inline-block;
    background-image: url("background.png");
    font-size: 300%;
    color : white;
    margin-left: 21%;
    margin-bottom: -0%;
    font-weight: 300;
    padding: 3% 25%;
}